name: Docker Playground

on: push

jobs:
  hello-virtual-machine:
    name: Run docker from virtual machine
    runs-on: ubuntu-latest
    steps:
      - run: whoami
      - run: docker -v
      - run: docker images -a
      - run: docker system prune -a -f
      - run: docker images -a

  hello-docker-container:
    name: Try to run container
    runs-on: ubuntu-latest
    container: python:3
    steps:
      - run: whoami
      - run: python --version
