name: Download MNIST

on: [push]

jobs:
  job1:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: pip install torchvision

      - name: Ls
        run: ls .

      - name: Get data
        uses: pytorch-ignite/download-mnist-github-action@master

      - name: Ls
        run: ls ./MNIST/raw
