name: Download data

on: [push]

jobs:
  job1:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Ls
        run: ls
      - name: Get data
        uses: trsvchn/storage-action@dev
        with:
          target_dir: ./foo/bar
      - name: Ls
        run: ls ./foo/bar
      - name: REad file
        run: cat ./foo/bar/copy_this.file
