name: Functions

on: push
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set test env var
      run: | 
        echo "file_list=`ls -m`" >> $GITHUB_ENV
        echo "${{ env.file_list }}"

    - name: Test success 
      if: contains(${{ env.file_list }}, 'README.md')
      run: echo "README in a file list"

    - name: Test failure
      if: contains(${{ env.file_list }}, 'FILE')
      run: echo "README in a file list"
