name: Matrix with Include

on: [push]

jobs:
  job1:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - type: A
            class: a
          - type: A
            class: b
    steps:
      - run: echo "${{ matrix.type }} ${{ matrix.class }}"

  job2:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - type: B
            class: b
          - type: B
            class: c
    steps:
      - run: echo "${{ matrix.type }} ${{ matrix.class }}"
