name: Inspect runner

on: [push]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Check default space
        run: df -h --total --output=source,size,used,avail | grep -E "Filesystem|total"
      - name: Get list of installed packages
        run: |
          sudo apt-get install debian-goodies -y
          dpigs -H -n 50
      - name: Check apt cache
        run: sudo du -sh /var/cache/apt
      - name: autoremove
        run: sudo apt-get autoremove -y
      - name: Check space
        run: df -h --total --output=source,size,used,avail | grep -E "Filesystem|total"
      - name: autoclean
        run: sudo apt-get autoclean  -y
      - name: Check space
        run: df -h --total --output=source,size,used,avail | grep -E "Filesystem|total"
      - name: clean
        run: sudo apt-get clean -y
      - name: Check space
        run: df -h --total --output=source,size,used,avail | grep -E "Filesystem|total"
