name: Install Python

on: [push]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Install prerequisites
        run: sudo apt-get install locate -y
      
      - name: Which
        run: which python

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: which python
        run: which python
      
      - name: Install mkl
        run: pip install mkl
        
      - name: Locate
        run: locate libmkl_intel_lp64.so
