name: Run PyTorch-Ignite

on:
  push:
    branches:
      - ignite-issue-1929

jobs:
  job1:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.7.7"

      - name: Install Ignite
        run: |
          pip install -r requirements-dev.txt
          pip install pytorch-ignite==0.4.4

      - name: Get tests
        run: |
          git clone https://github.com/pytorch/ignite.git

      - name: Run tests
        shell: bash -l {0}
        run: |
          cd ignite
          SKIP_DISTRIB_TESTS=1 bash tests/run_cpu_tests.sh
